### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

.env
db.sqlite3

# ignore files for reviewing local changes created by the 'dot-files' alias
# 'gdiff' in my local .bash_profile settings.
changes.*.patch

# ignore vim temporary files
*.swp
*.swo
